/*----------------------------------------------------

	Welcome to responsive-template.css!

	Here we have styles for: base, T1, T2 and T3

	I.   EMS System
	II.  Header (thincrust, thickcrust, search)
	III. Wrapper
	IV.  Footer

----------------------------------------------------*/

body {background:url(/sebin/v/t/bodyBg.jpg) #224b9b repeat-x 0 0;}

/*----------------------------------------------------

	I. EMS System [base]

----------------------------------------------------*/

/* -------------------------
 Comment out red color 

#ems {width:100%;clear:both;float:left;border-bottom:1px solid #538cc4;background: rgb(196,0,0);background: -moz-linear-gradient(top,  rgba(196,0,0,1) 25%, rgba(130,0,0,1) 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,rgba(196,0,0,1)), color-stop(100%,rgba(130,0,0,1)));background: -webkit-linear-gradient(top,  rgba(196,0,0,1) 25%,rgba(130,0,0,1) 100%);background: -o-linear-gradient(top,  rgba(196,0,0,1) 25%,rgba(130,0,0,1) 100%);background: -ms-linear-gradient(top,  rgba(196,0,0,1) 25%,rgba(130,0,0,1) 100%);background: linear-gradient(to bottom,  rgba(196,0,0,1) 25%,rgba(130,0,0,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c40000', endColorstr='#820000',GradientType=0 );}
#ems-message {width:1004px;margin:0 auto;}
#ems-title {float:left;width:22%;padding:15px 1% 15px 0;}
#ems-description {float:left;width:76%;padding:15px 0 15px 1%;}
#ems-title h1 {color:#fff !important;font-size:1.5em;line-height:1em;font-weight:bold;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;text-shadow:0 -1px 0 rgba(101,0,0,1);}
#ems-description p {color:#fff !important;font-size:1em;line-height:1.7em;padding:0;margin:0;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;}
#ems-description p a {color:#fff !important;text-decoration:underline;}
#ems-description p a:hover {color:#fff !important;text-decoration:none;}

*/
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1da36+0,fffad0+100 */
    #ems {
        width: 100%;
        clear: both;
        float: left;
        border-bottom: 1px solid #538cc4;
        background: #f1da36;
        /* Old browsers */
        background: -moz-linear-gradient(top, #f1da36 0%, #fffad0 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #f1da36 0%, #fffad0 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #f1da36 0%, #fffad0 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f1da36', endColorstr='#fffad0', GradientType=0);
        /* IE6-9 */
    }
#ems-message {width:1004px;margin:0 auto;}
#ems-title {float:left;width:22%;padding:15px 1% 15px 0;}
#ems-description {float:left;width:76%;padding:15px 0 15px 1%;}
#ems-title h1 {color:#000000 !important;font-size:1.5em;line-height:1em;font-weight:bold;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;}
#ems-description p {color:#000000 !important;font-size:1em;line-height:1.7em;padding:0;margin:0;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;}
#ems-description p a {color:#000000 !important;text-decoration:underline;}
#ems-description p a:hover {color:#8c8c8c !important;text-decoration:none;}
/*----------------------------------------------------

	II. Header [base]

----------------------------------------------------*/

#bannerWrapper {clear:both;background: url(/sebin/v/j/headerBg.jpg) left top repeat-x;height:93px;margin:0 0 20px 0;padding:0;}
#bannerWrapper #banner {width:1004px;margin:0 auto;background:url(/sebin/v/j/headerBg.jpg) left top repeat-x;height:93px;}
#bannerWrapper #banner #logoAndTabs {width:43%;float:left;height:auto;margin:15px 0 15px 3%;}
#bannerWrapper #banner #logoAndTabs img {max-width:100%;}
#bannerWrapper #banner #jhm-search {width:50%;height:88px;float:right;background:transparent;padding:0 2%;}
#bannerWrapper #banner #jhm-search form {padding:0;margin:0;height:88px;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;font-size:1em;position:relative;}
#bannerWrapper #banner #jhm-search form .search-box {position:absolute;top:32px;right:0;width:100%;float:right;text-align:right;}
#bannerWrapper #banner #jhm-search form .search-field-wrapper {position:absolute;right:5.5em;top:0;}
#bannerWrapper #banner #jhm-search form .search-field-inner {position:absolute;top:0;right:0;margin:0;height:2em;padding:0;width:15em;border:1px solid #d5d5d5;border-top:1px solid #cacaca;border-bottom:1px solid #d5d5d5;-moz-box-shadow:0 2px 6px #dcdcdc inset;-webkit-box-shadow:0 2px 6px #dcdcdc inset;box-shadow:0 2px 6px #dcdcdc inset;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
#bannerWrapper #banner #jhm-search form .search-field-wrapper .search-logo {display:block;width:2em;height:1.5em;position:absolute;top:.3em;right:13em;left;0;border-right:1px solid #ddd;background:url(/sebin/p/q/search-icon-thincrust.png) no-repeat .45em 50%;text-indent:-9999px;text-align:left;}
#bannerWrapper #banner #jhm-search form .search-options {display:none;z-index:300;position:absolute;top:2.05em;right:0;width:14.4em;padding:.5em .3em .3em;background:#fff;border:1px solid #d5d5d5;border-top:0 none;-moz-box-shadow:0 3px 6px rgba(0,0,0,.2);-webkit-box-shadow:0 3px 6px rgba(0,0,0,.2);box-shadow:0 3px 6px rgba(0,0,0,.2);text-align:left;-moz-border-bottom-right-radius:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px;-moz-border-bottom-left-radius:4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px;}
#bannerWrapper #banner #jhm-search form .search-options label {display:block;margin:-1.2em 0 .5em 2em;line-height:1.30em;}
#bannerWrapper #banner #jhm-search form #search-field, #bannerWrapper #banner #jhm-search form #search-field:focus, #bannerWrapper #banner #jhm-search form #search-field:active {position:absolute;right:0;height:1.2em;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;line-height:1em;font-size:1em;background:none;padding:0.5em 0.5em 0.3em;width:12em;border:0 none;outline:none;}
#bannerWrapper #banner #jhm-search form .bannerSearchButton {position:absolute;right:0;height:1.75em;width:4em;text-align:center;color:#264289; text-shadow: 1px 1px 0 white;padding:0.05em 0.5em .1em;font-weight:lighter; border: 1px solid #b2b1b1;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;font-size:1.25em;line-height:1em;cursor:pointer;font-family:"Gill Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;background: #fefcea; /* Old browsers */background: -moz-linear-gradient(top, #fefcea 0%, #efd215 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#efd215)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, #fefcea 0%,#efd215 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, #fefcea 0%,#efd215 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top, #fefcea 0%,#efd215 100%); /* IE10+ */background: linear-gradient(to bottom, #fefcea 0%,#efd215 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#efd215',GradientType=0 ); /* IE6-9 */}

.thincrust {padding:0px;border:0px;width:100%;z-index:500;float:left;clear:both;height:30px;background: rgb(15,57,133);background: -moz-linear-gradient(left,  rgba(15,57,133,1) 0%, rgba(97,132,200,1) 50%, rgba(15,57,133,1) 100%);background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(15,57,133,1)), color-stop(50%,rgba(97,132,200,1)), color-stop(100%,rgba(15,57,133,1)));background: -webkit-linear-gradient(left,  rgba(15,57,133,1) 0%,rgba(97,132,200,1) 50%,rgba(15,57,133,1) 100%);background: -o-linear-gradient(left,  rgba(15,57,133,1) 0%,rgba(97,132,200,1) 50%,rgba(15,57,133,1) 100%);background: -ms-linear-gradient(left,  rgba(15,57,133,1) 0%,rgba(97,132,200,1) 50%,rgba(15,57,133,1) 100%);background: linear-gradient(to right,  rgba(15,57,133,1) 0%,rgba(97,132,200,1) 50%,rgba(15,57,133,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f3985', endColorstr='#0f3985',GradientType=1 );}
.thincrust-inner {position:relative;width:1004px;margin:0 auto;z-index:501;}
.thincrust-inner .topmenu {top:30px;right:3px;width:100%;list-style:none inside none;padding:0;margin:0;}
.thincrust-inner .topmenu li {display:block;}
.thincrust-inner .topmenu-about-wrapper {clear:left;float:right;width:780px;overflow:hidden;display:none;position:relative;top:30px;border:1px solid #fff;border-bottom:10px solid #fcd206;background: rgb(63,91,165);background: rgb(63,91,165);background: -moz-linear-gradient(top,  rgba(63,91,165,1) 0%, rgba(86,120,191,1) 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(63,91,165,1)), color-stop(100%,rgba(86,120,191,1)));background: -webkit-linear-gradient(top,  rgba(63,91,165,1) 0%,rgba(86,120,191,1) 100%);background: -o-linear-gradient(top,  rgba(63,91,165,1) 0%,rgba(86,120,191,1) 100%);background: -ms-linear-gradient(top,  rgba(63,91,165,1) 0%,rgba(86,120,191,1) 100%);background: linear-gradient(to bottom,  rgba(63,91,165,1) 0%,rgba(86,120,191,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f5ba5', endColorstr='#5678bf',GradientType=0 );}
.thincrust-inner .topmenu-patient-care-wrapper {clear:left;float:left;width:100%;position:relative;right:25%;border-right:1px dotted #fff;}
.thincrust-inner .topmenu-research-wrapper {clear:left;float:left;width:100%;position:relative;right:25%;border-right:1px dotted #fff;}
.thincrust-inner .topmenu-education-wrapper {float:left;width:100%;position:relative;right:25%;border-right:1px dotted #fff;}
.thincrust-inner .topmenu-about, .thincrust-inner .topmenu-patient-care, .thincrust-inner .topmenu-research, .thincrust-inner .topmenu-education {float:left;width:25%;position:relative;left:75%;overflow:hidden;}
.thincrust-inner .topmenu li a {font-family:'Gill Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;font-size:1.2em;line-height:.8em;color:#f4d712;text-decoration:none;padding:1em 10%;display:block;text-transform:uppercase;}
.thincrust-inner .topmenu li a:hover {color:#013082;background: rgb(253,205,50);background: -moz-linear-gradient(left,  rgba(253,205,50,1) 0%, rgba(255,255,255,1) 100%);background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(253,205,50,1)), color-stop(100%,rgba(255,255,255,1)));background: -webkit-linear-gradient(left,  rgba(253,205,50,1) 0%,rgba(255,255,255,1) 100%);background: -o-linear-gradient(left,  rgba(253,205,50,1) 0%,rgba(255,255,255,1) 100%);background: -ms-linear-gradient(left,  rgba(253,205,50,1) 0%,rgba(255,255,255,1) 100%);background: linear-gradient(to right,  rgba(253,205,50,1) 0%,rgba(255,255,255,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdcd32', endColorstr='#ffffff',GradientType=1 );}
.thincrust-inner .topmenu li ul {display:block;padding:0;width:100%;}
.thincrust-inner .topmenu li ul li {width:100%;border:none;}
.thincrust-inner .topmenu li ul li.hidden-link {display:none;}
.thincrust-inner .topmenu li ul li a {font-family:'Helvetica Neue', Arial, Helvetica, sans-serif;color:#fff;display:block;font-size:1em;line-height:1.1em;padding:.5em 10%;text-decoration:none;text-transform:none;}
#explore-tools {position:absolute;top:0;right:0;}
#explore-tools .explore {float:right;position:relative;border-left:1px solid #42639f;border-right:1px solid #133b7b;color:#fff;font-family:"Gill Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;text-decoration:none;font-weight:200;text-shadow:0 1px 1px #142f74;background: rgb(47,80,161);background: -moz-linear-gradient(top,  rgba(47,80,161,1) 0%, rgba(23,54,127,1) 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(47,80,161,1)), color-stop(100%,rgba(23,54,127,1)));background: -webkit-linear-gradient(top,  rgba(47,80,161,1) 0%,rgba(23,54,127,1) 100%);background: -o-linear-gradient(top,  rgba(47,80,161,1) 0%,rgba(23,54,127,1) 100%);background: -ms-linear-gradient(top,  rgba(47,80,161,1) 0%,rgba(23,54,127,1) 100%);background: linear-gradient(to bottom,  rgba(47,80,161,1) 0%,rgba(23,54,127,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f50a1', endColorstr='#17367f',GradientType=0 );}
#explore-tools .explore:hover {cursor:pointer;}
#explore-tools .explore .menu-button {border-left:1px solid #d2d7e2;border-right:1px solid #132654;float:left;padding:7px 8px;height:16px;}
#explore-tools .explore .menu-button span {border:1px solid #fdfdfd;border-top:1px solid #fff;background:#dadada;width:20px;height:1px;display:block;-moz-border-radius:9999px;-webkit-border-radius:9999px;border-radius:9999px;margin:0 0 3px 0;}
#explore-tools .explore .menu-button-text {border-left:1px solid #48619c;border-right:1px solid #d2d7e2;padding:0 8px;height:30px;display:block;float:left;font-size:1.3em;line-height:2em;}
#explore-tools .search2 {display:none;}
.thincrust-more {display:none;}
#explore-tools .search2 span {display:inline;height:auto;width:auto;background:transparent;text-indent:0;}

/*----------------------------------------------------

	III. Wrapper [base]

----------------------------------------------------*/

#wrapper-canvas {padding:0;}
.fixed {position:fixed;}
#jhm-canvas {width:100%;float:left;-webkit-transition: -webkit-transform 0.5s;transition: transform 0.5s;-webkit-backface-visibility: hidden;}

#jhm-wrapper{margin:0;padding:0;}
.wrapperBody{background:url(/sebin/p/j/shadowBody.png) repeat-y;margin-left:auto;margin-right:auto;width:1004px;clear:both;position:relative;}
.wrapperBottom{font-size:0;margin-left:auto;margin-right:auto;overflow:hidden;width:1004px;}
.wrapperBottom .wbLeft{background:url(/sebin/l/r/shadowBottomLeft.png);display:inline;float:left;height:4px;width:2px;}
.wrapperBottom .wbMiddle{background:url(/sebin/t/j/shadowBottom.png) repeat-x;display:inline;float:left;height:4px;width:996px;}
.wrapperBottom .wbRight{background:url(/sebin/l/u/shadowBottomRight.png);display:inline;float:left;height:5px;margin:-2px 1px 0 0;width:5px;}
.wrapperContent{background:#fff;margin:0;padding:0;}
.wrapperTop{font-size:0;height:4px;margin-left:auto;margin-right:auto;overflow:hidden;width:1004px;clear:both;}
.wrapperTop .wtLeft{background:url(/sebin/t/s/shadowTopLeft.png);display:inline;float:left;height:4px;width:4px;}
.wrapperTop .wtMiddle{background:url(/sebin/n/x/shadowTop.png) repeat-x;display:inline;float:left;height:4px;width:996px;}
.wrapperTop .wtRight{background:url(/sebin/x/a/shadowTopRight.png);display:inline;float:right;height:4px;width:4px;}
.contentMainSub{background-color:#FFFFFF;border:1px solid #ffffff;margin-left:auto;margin-right:auto;width:994px;}

/*----------------------------------------------------

	IV. Footer [base]

----------------------------------------------------*/

.contentFooter {overflow:hidden;clear:both;min-height:220px;color:#fff;padding:10px 0;background: rgb(33,67,130);background: -moz-linear-gradient(top,  rgba(33,67,130,1) 0%, rgba(0,34,97,1) 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(33,67,130,1)), color-stop(100%,rgba(0,34,97,1)));background: -webkit-linear-gradient(top,  rgba(33,67,130,1) 0%,rgba(0,34,97,1) 100%);background: -o-linear-gradient(top,  rgba(33,67,130,1) 0%,rgba(0,34,97,1) 100%);background: -ms-linear-gradient(top,  rgba(33,67,130,1) 0%,rgba(0,34,97,1) 100%);background: linear-gradient(to bottom,  rgba(33,67,130,1) 0%,rgba(0,34,97,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#214382', endColorstr='#002261',GradientType=0 );font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;}
.contentFooter ul {padding:0 0 0 40px;list-style-type:disc;margin:10px 0;line-height:1.5em;}
.contentFooter a {text-decoration:none;color:#fff;}
.contentFooter a:hover {text-decoration:underline;}
.contentFooter strong {font-weight:bold;}
.contentFooter img {vertical-align:middle;}
.contentFooter .footerLeft, .contentFooter .footerMiddle {min-height:220px;float:left;width:31%;margin:0;margin-right:2%;padding:0;border-right:1px solid #3d598b;font-size:1em;}
.contentFooter .footerRight {min-height:220px;float:left;width:31%;padding:0;margin:0;font-size:1em;}
.contentFooter .socialIcons {width:100%;float:left;clear:both;}
.contentFooter .socialIcons a {width:30%;float:left;padding:10px 0;}
.contentFooter p {float:left;margin:10px 0;clear:both;}
.contentFooter .subLinks {float:left;display:inline;margin-left:47px;margin-top:23px;}
.contentFooter .recognitions {float:right;display:inline;margin-right:23px;margin-top:23px;text-align:right;}
.contentFooter .recognitions a {text-decoration:none;color:#acd8f3;}
.contentFooter .recognitions span {float:left;display:inline;padding-top:34px;margin-right:17px;}
.contentFooter .recognitions a:hover {text-decoration:underline;}
.contentFooter .subLinks a:hover {text-decoration:underline;}

.footerNav {color:white;margin-left:auto;margin-right:auto;width:994px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.footerNav a, .footerNav a:hover, .footerNav a:visited {color:white;text-decoration:underline;}
.footerNav .floatleft {font-size:1em;line-height:1.5em;float:left;margin:1em 0;}
.footerNav .floatright {font-size:1em;line-height:1.5em;float:right;margin:1em 0;}

.resultItem .resultItemCloser {clear: both;display: block;font-size: 0;height: 0;line-height: 0;margin: 0;padding: 0;width: 0;}

@media screen and (max-width: 1004px) {

/*----------------------------------------------------

	I. EMS System [1004px and below]

----------------------------------------------------*/

#ems-message {width:100%;}
#ems-title {float:left;width:20%;padding:15px 1% 15px 2%;}
#ems-description {float:left;width:74%;padding:15px 2% 15px 1%;}

/*----------------------------------------------------

	II. Header [1000px and below]

----------------------------------------------------*/

#bannerWrapper #banner {width:100%;}
.thincrust-inner {position:relative;width:100%;margin:0 auto;}
.thincrust-inner .topmenu-about-wrapper {border-left:none;border-right:none;width:100%;}
.thincrust-inner .topmenu {right:0px;width:100%;border-left:none;border-right:none;}
.thincrust-inner .topmenu li.topmenu-education {margin:0 0 0 -1px;}
#explore-tools .explore {right:0}
.thincrust-inner .search2 span {display:inline;height:auto;width:auto;background:transparent;text-indent:0;}

/*----------------------------------------------------

	III. Wrapper [1000px and below]

----------------------------------------------------*/

#jhm-wrapper {margin:0;padding:0;}
.wrapperBody {width:100%;}
.wrapperTop, .wrapperBottom {font-size:0;margin-left:auto;margin-right:auto;overflow:hidden;width:100%;}
.wrapperBottom .wbLeft, .wrapperBottom .wbRight, .wrapperTop .wtLeft, .wrapperTop .wtRight {display:none;}
.wrapperBottom .wbMiddle {background:url(/sebin/t/j/shadowBottom.png) repeat-x;display:inline;float:left;height:4px;width:100%;}
.wrapperTop .wtMiddle {background:url(/sebin/n/x/shadowTop.png) repeat-x;display:inline;float:left;height:4px;width:100%;}
.contentMainSub {background-color:#FFFFFF;border:0 none;border-top:1px solid #fff;border-bottom:1px solid #fff;margin-left:auto;margin-right:auto;width:100%;font-size:1.1em;line-height:1.1em;}

/*----------------------------------------------------

	IV. Footer [1000px and below]

----------------------------------------------------*/

.contentFooter .socialIcons a {width:46%;float:left;padding:10px 0;}
.contentFooter .footerMiddle table tr {width:50%;}
.footerNav {width:100%;}
.footerNav .floatleft {font-size:1em;line-height:1.5em;float:left;clear:both;margin:1em 2%;width:96%;}
.footerNav .floatright {font-size:1em;line-height:1.5em;float:left;clear:both;margin:1em 2%;width:96%;}

}

@media screen and (min-width: 740px) {

.thincrust-inner:hover .topmenu {display:block !important;}

}

@media screen and (max-width: 740px) {

/*----------------------------------------------------

	I. EMS System [740px and below]

----------------------------------------------------*/

#ems-title {float:left;width:96%;padding:15px 2% 0 2%;}
#ems-description {float:left;width:96%;padding:15px 2%;}

/*----------------------------------------------------

	II. Header [740px and below]

----------------------------------------------------*/

.thincrust {height:auto;}
.thincrust-inner {position:relative;width:100%;margin:0 auto;}
.thincrust-inner .topmenu {display:none;position:relative;float:left;clear:both;top:0;width:100%;height:auto;border:none;border-bottom:1px solid #fff;box-shadow:0 -5px 15px rgba(0, 0, 0, .15) inset;background:#fff;}
.thincrust-inner .topmenu li {width:100%;clear:both;}
.thincrust-inner .topmenu li.topmenu-about {position:relative;left:0;top:0;height:auto;border-left:none;}
.thincrust-inner .topmenu li.topmenu-patient-care {position:relative;left:0;top:0;height:auto;}
.thincrust-inner .topmenu li.topmenu-research {position:relative;left:0;top:0;height:auto;}
.thincrust-inner .topmenu li.topmenu-education {position:relative;left:0;top:0;height:auto;border:none;}
.thincrust-inner .topmenu li a {color:#3f5fb0;text-shadow:0 1px 1px #fff;padding:.7em 3%;font-size:1.4em;border-top:1px solid rgba(255,255,255, .5);background: rgb(255,255,255);background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(244,244,244,1)));background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 );}
.thincrust-inner .topmenu li a:hover {color:#3f5fb0;text-shadow:0 1px 1px #fff;padding:.7em 3%;font-size:1.4em;border-top:1px solid rgba(255,255,255, .5);background: rgb(255,255,255);background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(244,244,244,1)));background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 );}
.thincrust-inner .topmenu-about-wrapper {border:none;position:relative;top:0;clear:left;float:left;width:100%;}
.thincrust-inner .topmenu-patient-care-wrapper {border:none;clear:left;float:left;width:100%;position:relative;right:0;}
.thincrust-inner .topmenu-research-wrapper {border:none;clear:left;float:left;width:100%;position:relative;right:0;}
.thincrust-inner .topmenu-education-wrapper {float:left;width:100%;position:relative;right:0;}
.thincrust-inner .topmenu li.topmenu-education a {border-bottom:none;}
.thincrust-inner .topmenu li ul {width:100%;clear:both;float:left;display:none;}
.thincrust-inner .topmenu li ul li.hidden-link {display:block;}
.thincrust-inner .topmenu li ul li {width:100%;float:left;clear:none;background:none;}
.thincrust-inner .topmenu li ul li a {width:94%;float:left;text-shadow:0 1px 1px #fff;color:#4a5a7a;padding:.5em 3%;border-bottom:none;font-size:1.2em;background:transparent;}
.thincrust-inner .topmenu li ul li a:hover {text-decoration:none;background:#eee !important;padding:.5em 3%;font-size:1.2em;}
.thincrust-more {display:block;float:right;width:1.25em;height:1.25em;color:#3F5FB0;background:white;border:1px solid #d3d3d3;text-align:center;padding:.4em .25em 0 .25em;margin:-.4em 0 0 0;border-radius:.3em;box-shadow: 0 1px 0 white;}
#explore-tools {width:99%;position:relative;}
#explore-tools .explore {text-shadow:0 1px 1px #142f74;border-right:none;right:-2px;}
#explore-tools .explore .menu-button {padding:8px;height:20px;}
#explore-tools .explore .menu-button span {width:26px;height:2px;margin:0 0 4px 0;}
#explore-tools .explore .menu-button-text {padding:0 8px;height:36px;border-right:none;font-size:1.5em;line-height:2em;}
#explore-tools .search2 span {display:inline;height:auto;width:auto;background:transparent;text-indent:0;}

/*----------------------------------------------------

	III. Wrapper [740px and below]

----------------------------------------------------*/

#wrapper-canvas {width:100%;float:left;margin-right:-85%;padding:0;}
.contentMainSub {font-size:1.2em;line-height:1.2em;}

/*----------------------------------------------------

	IV. Footer [740px and below]

----------------------------------------------------*/


.contentFooter .footerMiddle, .contentFooter .footerLeft { width:48%; margin-right:0; }
.contentFooter .footerMiddle {margin-left:10px; border:none;}
.contentFooter .footerNav .floatRight {float:left;}
.contentFooter .footerRight {border-top: 1px solid #3D598B;width: 94%;margin: 0 3%;min-height:0;}

.footerNav {width:100%;}
.footerNav .floatleft {float:left;clear:both;margin:1em 3%;width:94%;}
.footerNav .floatright {float:left;clear:both;margin:1em 3%;width:94%;}

}

@media screen and (max-width: 480px) {

body {line-height:1;background:url(/sebin/v/t/bodyBg.jpg) #224b9b repeat-x 0 -54px;font-size:75%;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;}

/*----------------------------------------------------

	II. Header [480px and below]

----------------------------------------------------*/

.thincrust {float:left;width:85%;clear:none;margin:0 0 0 -85%;height:auto;clear:both;}
.thincrust-inner {position:relative;width:100%;margin:0 auto;}
.thincrust-inner .topmenu li.topmenu-education {border-bottom:1px solid rgba(0,0,0,.1);}
.thincrust-open {margin:0 0 0 0 !important;}
.thincrust .topmenu {display:none;overflow-y:scroll;background:#fff;}
.thincrust-inner .topmenu li a {color:#3f5fb0;text-shadow:0 1px 1px #fff;padding:.9em 4%;font-size:2em;border-top:1px solid rgba(255,255,255, .5);background: rgb(255,255,255);background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(244,244,244,1)));background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 );}
.thincrust-inner .topmenu li a:hover {color:#3f5fb0;text-shadow:0 1px 1px #fff;padding:.9em 4%;font-size:2em;border-top:1px solid rgba(255,255,255, .5);background: rgb(255,255,255);background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(244,244,244,1)));background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 );}
.thincrust-inner .topmenu li ul li.hidden-link {display:block;}
.thincrust-inner .topmenu li ul li a {width:94%;float:left;text-shadow:0 1px 1px #fff;color:#4a5a7a;padding:.5em 4%;border-bottom:none;font-size:1.5em;background:transparent;border-bottom:1px solid #ddd;}
.thincrust-inner .topmenu li ul li a:hover {text-decoration:none;background:#eee !important;padding:.5em 4%;font-size:1.5em;border-bottom:1px solid #ddd;}
.thincrust-inner .topmenu-about-wrapper {display:block;border:none;position:relative;top:0;clear:left;float:left;width:100%;}
.thincrust-inner .topmenu-patient-care-wrapper {border:none;clear:left;float:left;width:100%;position:relative;right:0;}
.thincrust-inner .topmenu-research-wrapper {border:none;clear:left;float:left;width:100%;position:relative;right:0;}
.thincrust-inner .topmenu-education-wrapper {float:left;width:100%;position:relative;right:0;}
#bannerWrapper {clear:both;margin:0 0 .8em 0;height:70px;background:url("/sebin/v/j/headerBg.jpg") repeat-x scroll left bottom transparent;}
#bannerWrapper #banner {width:100%;position:relative;height:auto;}
#bannerWrapper #banner #logoAndTabs {width:42%;float:left;margin:.4em 29%;text-align:center;}
#bannerWrapper #banner #logoAndTabs a {background-attachment: scroll;background-clip: border-box;background-color: transparent;background-image: url("/sebin/z/j/johns_hopkins_medicine.png");background-origin: padding-box;background-position: 50% 50%;background-repeat: no-repeat;background-size: contain;display:block;height:4.5em;max-width:100%;}
#bannerWrapper #banner #logoAndTabs img {display:none;}
#bannerWrapper #banner #jhm-search {background:#fff;display:none;width:100%;padding:1em 0;z-index:750;margin:0;font-size:1.2em;float:left;height:auto;margin:0 0 .8em 0;}
#bannerWrapper #banner #jhm-search {padding:0;font-size:1.2em;}
#bannerWrapper #banner #jhm-search form {float:left;margin:0;padding:0 3% 1em;width:94%;height:auto;}
#bannerWrapper #banner #jhm-search form .search-options {display:block;width:94%;}
#bannerWrapper #banner #jhm-search form .search-options label {width:90%;float:left;margin:0 0 1em 0;}
#bannerWrapper #banner #jhm-search form .search-options input[type="radio"] {width:6%;float:left;margin:0 0 1em 0;}
#bannerWrapper #banner #jhm-search form .search-box {position:relative;top:0;left:0;width:100%;margin:1em 0 0 0;}
#bannerWrapper #banner #jhm-search form .search-field-wrapper {position:relative;right:0;top:0;}
#bannerWrapper #banner #jhm-search form .search-field-inner, #bannerWrapper #banner #jhm-search form .search-field-wrapper .search-logo {display:none;}
#bannerWrapper #banner #jhm-search form .search-options {position:relative;width:100%;padding:0;background:none;border:0 none;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;text-align:left;margin:-1em 0 1em;clear:both;float:left;}
#bannerWrapper #banner #jhm-search form #search-field, #bannerWrapper #banner #jhm-search form #search-field:focus, #bannerWrapper #banner #jhm-search form #search-field:active {width:74%;float:left;position:relative;left:0;margin:0 2% 0 0;height:1.25em;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;line-height:1em;font-size:1em;padding:0.5em 0.5em 0.3em;border:0 none;outline:none;border:1px solid #d5d5d5;border-top:1px solid #cacaca;border-bottom:1px solid #d5d5d5;-moz-box-shadow:0 2px 6px #dcdcdc inset;-webkit-box-shadow:0 2px 6px #dcdcdc inset;box-shadow:0 2px 6px #dcdcdc inset;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
#bannerWrapper #banner #jhm-search form .bannerSearchButton {width:20%;padding:0.05em 0 .1em;}
#bannerWrapper #banner #jhm-search form .search_opts {width:100%;}
#bannerWrapper #banner #jhm-search form .search_opts label {float:left;clear:both;margin:0 0 .5em 0;}
#explore-tools {position:absolute;top:0;left:100%;width:117%;min-width:320px;background:none transparent;}
#explore-tools .explore {position:absolute;top:15px;left:14px;width:54px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;background:none transparent;border:none;filter:none;}
#explore-tools .explore .menu-button {border: none;height: 26px;padding: 5px;background: url(/sebin/l/i/menu-button-thincrust.png) transparent no-repeat 0 50%;width: 28px;background-size: 38px 25px;}
#explore-tools .explore .menu-button-text, #explore-tools .explore .menu-button span {display:none;}
#explore-tools .search2 {top:12px;right:0;display:block;height:42px;width:53px;position:absolute;border:none;padding:0 0 0 30px;}
#explore-tools .search2 span {display:block;width:53px;height:42px;background:url(/sebin/p/g/search-button-thincrust.png) no-repeat 50% 50%;background-size:32px 31px;text-indent:-9999px;}

/*----------------------------------------------------

	III. Wrapper [480px and below]

----------------------------------------------------*/

#wrapper-canvas {width:100%;float:left;margin-right:-85%;padding:0;min-width:320px;}
.contentMainSub {font-size:1.3em;line-height:1.3em;}

/*----------------------------------------------------

	IV. Footer [480px and below]

----------------------------------------------------*/

.contentFooter .footerMiddle, .contentFooter .footerLeft {width:94%;margin:0 3%;}

.contentFooter .footerLeft {border:none;}
.contentFooter .footerLeft ul {padding:0 0 0 1.5em;}
.contentFooter .footerMiddle {border-top: 1px solid #3D598B;}

.footerNav {width:100%;}
.footerNav .floatleft {float:left;clear:both;margin:1em 3%;width:94%;}
.footerNav .floatright {float:left;clear:both;margin:1em 3%;width:94%;}

}

/*----------------------------------------------------

	AddThis Pro Tools

----------------------------------------------------*/

#at4m-mobile-container.addthis-smartlayers {position: relative;z-index: 99999;}
#at4-follow {z-index: 1;}

#at4m-dock.ats-dark,.at4m-menu.ats-dark .at4m-menu-header, .at4m-menu.ats-dark .at4m-menu-footer, .ats-dark#at4m-dock, .ats-dark.at4m-dock-toggle {background: #214a9a;}
.at4m-dock.ats-dark a:hover, .at4m-dock.ats-dark a:active {background: #163778;}
.at4m-dock.at4-ma2.ats-dark a:first-child {border-right: 1px solid #7395d9;}
.at4m-dock.ats-dark, .at4m-dock-toggle.ats-dark {background: #214a9a;}
.at4m-dock.ats-dark a:hover, .at4m-dock.ats-dark a:active, .at4m-dock-toggle.ats-dark a:hover, .at4m-dock-toggle.ats-dark a:active {background: #163778;border-color: #7395d9;}
.at4-follow .at4-follow-container .at-follow-label {
	color: #9cafd3;
	text-transform: uppercase;
}

.addthis-smartlayers .at4-follow, .at4-follow {position:absolute;}

.addthis_responsive_sharing {float:left;wdth:100%;}
div.galleria-container.touch.fullscreen {z-index: 9999999 !important;}