/* Thincrust Makeover 2015 */

body {background:#fff;}
#jhm-wrapper { float: left; width: 100%;margin:0;}
p {    margin: .25em 0 1.45em 0;
    line-height: 1.5;
}
.institution_title {font-size: 2.65em;color: #03296d;max-width: 1004px;}
.institution_title a {color: #03296d;}
#topNavWrapper {background:none;}
#topNavNavMod .divnav1 ul li a {padding: 0 24px 0 0;}
#topNavNavMod .divnav1 ul {margin:0;}
#topNavNavMod .divnav1 ul li.topNav-more {background: url(/sebin/n/p/top-nav-more.png) 0 0 repeat-x;}
.topNav-open #topNavNavMod .divnav1 ul { padding:1em;}
.wrapperBody {background:none;}
hr.jhm-blue-bar {width:100%;clear:both;margin:0;border:0;border-bottom:4px solid #03296d;}

.thincrust-wrapper {background:#03296d;padding:20px 0;float:left;width:100%;color:#fff;}
.large-logo {width:300px;height:auto;float:left;margin: 20px 0 40px 0;}
.small-logo {width: 20%;height: auto;float: left;margin: 25px 0;min-width: 175px;}
.large-logo img, .small-logo img {width:100%;height:auto;}
.menu-wrapper.subsite { float: right; margin: 0 0 5px 0; width:auto;}
.menu-wrapper.subsite .jhm-thcrmenu > ul, .jhm-thcrmenu .jhm-thcrsub-inner {width: auto;}
.menu-wrapper.subsite .jhm-thcrmenu > ul > li > a {padding: 5px .75em 5px 1em;}
.menu-wrapper.subsite .jhm-thcrmenu > ul, .jhm-thcrmenu .jhm-thcrsub-inner {padding:0;}
.large-logo img, .small-logo img {width:100%;height:auto;}
ul.global-navigation {width:100%;float:left;list-style-type:none;}
ul.global-navigation li {float:left;width:auto;margin:0 2% 0 0;text-transform:uppercase;font-size:1.25em;}
.thincrust-wrapper .content {max-width:1004px;margin:0 auto;}

.thincrust-wrapper {background:#03296d;padding:5px 0;float:left;width:100%;color:#fff;margin: 0 0 25px 0;}

ul.global-navigation {width:100%;float:left;list-style-type:none;}
ul.global-navigation li {float:left;width:auto;margin:0 2% 0 0;text-transform:uppercase;font-size:1.25em;font-family: "Gill Sans", Arial, Helvetica, sans-serif;}
.content {max-width:1004px;margin:0 auto;}

.utility-links {margin: 20px 0 0 0;}
.utility-links ul {list-style-type:none;padding:10px 1%;border:1px solid #b1c9f4;border-radius:5px;float:right;width:auto;margin: 0 0 15px 0;}
.utility-links ul li {float:left;width:auto;padding: 0 10px;border-right:1px solid #b1c9f4;}
.utility-links ul li:last-child {border-right:none;margin:0;}
.utility-links a:link { color: #fff; text-decoration: none;}
.utility-links a:hover { text-decoration: underline;}
.utility-links a:visited { color: #fff;}

.search2, .search3, .menu {display:none;}

#jhm-search {float: right;clear: right; margin: 5px 0 10px 0; height: 38px;width:29%;}

.thincrust-wrapper.subsite #jhm-search { padding-right: 1em;}
.institution_title {width:100%;}

.search-box {float:right;width:100%;position:relative;clear: right;}
.search-field-wrapper input[type="text"] { top:0; right:0; border:0; outline:0; background:#fff; width:100%; height:38px; margin:0; padding:0px 2%;font-size:14px;color:#03296d;border-radius: 3px;}
.search-field-wrapper input[type="radio"] {}
.search-field-wrapper input::-webkit-input-placeholder { color: #d74b4b;}
.search-field-wrapper input:-moz-placeholder { color: #d74b4b;}
.search-field-wrapper input::-moz-placeholder { color: #d74b4b;}
.search-field-wrapper input:-ms-input-placeholder { color: #d74b4b;}

button.bannerSearchButton { width:20%;height:38px;display:block;position:absolute;top:0;font-family: "Gill Sans", Arial, Helvetica, sans-serif;font-size:14px;right:0;padding:0;margin:0;border:0;outline:0;line-height:39px;text-align:center;cursor:pointer;color:#00276f;background:#ffd101;border-radius: 3px;min-width:28%;}

.jhm-thcrmenu {width: 100%;float:left;}

/* general ul style */
.jhm-thcrmenu ul {margin: 0;padding: 0;list-style-type: none;}

/* first level ul style */
.jhm-thcrmenu > ul,
.jhm-thcrmenu .jhm-thcrsub-inner {width: 100%;margin: 0 auto;padding: 0 2em 0 0;}
.jhm-thcrmenu .jhm-thcrsub-inner {    width: 100%; max-width: 1004px; margin: 0 auto; padding: 20px 0;}
.jhm-thcrmenu > ul > li {display: inline-block;}
.jhm-thcrmenu > ul > li > a {font-weight: 200;padding: 1em 2em;color: #fff;display: inline-block;text-transform: uppercase; text-decoration: none; font-size: 1.125em;
font-family: "Gill Sans", Arial, Helvetica, sans-serif;}
.menu-wrapper.subsite .jhm-thcrmenu > ul > li > a {font-size:1em;}
.jhm-thcrmenu > ul > li > a:hover {color: #ccc; text-decoration:underline;}
.jhm-thcrmenu > ul > li.jhm-menuopen a,
.jhm-thcrmenu > ul > li.jhm-menuopen > a:hover {color: #fff;background: #1146aa;}

/* sub-menu */
.jhm-thcrmenu .jhm-thcrsub {display: none;position: absolute;background: #1146aa;width: 100%;left: 0; z-index: 9999;}
.jhm-menuopen .jhm-thcrsub {display: block;padding-bottom: 2%;}
.jhm-thcrmenu .jhm-thcrsub-inner > div {width: 30%;float: left;padding: 0;margin: 0 2% 0 0;}
.jhm-thcrmenu .jhm-thcrsub-inner:before,
.jhm-thcrmenu .jhm-thcrsub-inner:after {content: " ";display: table;}
.jhm-thcrmenu .jhm-thcrsub-inner:after {clear: both;}
.jhm-thcrmenu .jhm-thcrsub-inner > div a {line-height: 2.75em;color: #fff; text-decoration: none; font-size: 1.125em;}
.jhm-thcrsub h4 {color: #c0dbf6;padding: 0 0 0.6em;margin: 0;font-size: 160%;font-weight: 300;font-family: "Gill Sans", Arial, Helvetica, sans-serif;text-transform:uppercase;}
.jhm-thcrmenu .jhm-thcrsub-inner > div:last-child {border-right: 0; margin: 0;}
.jhm-thcrmenu .jhm-thcrsub-inner input {width: 65%;font-size: 1.125em;line-height: 1.2; color: #666;padding: .55em .65em;background: #fff; border: 1px solid #D2D5DB;border-radius: 4px;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;}	
.jhm-thcrmenu .jhm-thcrsub-inner input[type="submit"] {width: 3em;font-size: 1.125em;line-height: 1.2em; color: #00276f;padding: .55em .65em;background: #ffd101;border: none;border-radius: 4px;font-family: 'Gill Sans', 'Gill Sans MT', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-weight: 100; height: 2.6em;text-decoration: none;cursor: pointer;}
.jhm-thcrmenu .jhm-thcrsub-inner .btn-link {
    display: block;
    margin: 1em 0;
    position: relative;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}
.jhm-thcrmenu .jhm-thcrsub-inner .btn-link > div:first-of-type{
    color: #1b4899;
    font-family: Arial,sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1.5em;
    height: 2.125em;
    padding-left: 10px;
    padding-top: 0.81em;
    transition: padding-left 0.3s ease 0.1s, background 0.3s ease 0s, color 0.2s ease 0s;
    -webkit-transition: padding-left 0.3s ease 0.1s, background 0.3s ease 0s, color 0.2s ease 0s;
    background:#F6F8F7;
}
.jhm-thcrmenu .jhm-thcrsub-inner .btn-link:hover > div:first-of-type {
    padding-left: 20px!important;
    background:#9facc1;
    color:#212f57;
}
.jhm-thcrmenu .jhm-thcrsub-inner .btn-link .chev{
    height: 2.6em;
    position: absolute;
    right: 0;
    top: 0;
    width: 2.55em;
    background:#9facc1;
    color: #212f57;
}
.jhm-thcrmenu .jhm-thcrsub-inner .btn-link .chev::after {
    background:#9facc1;
    color: #2D3646;
    content: "chevron_right";
    direction: ltr;
    display: inline-block;
    font-family: "Material Icons";
    font-feature-settings: "liga";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    margin-left: 50%;
    margin-top: 50%;
    overflow-wrap: normal;
    text-rendering: optimizelegibility;
    text-transform: none;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    white-space: nowrap;
}

.search-positioning { position: relative; margin:0;top:20px;}	
.subsite-search-wrapper {display:none;  position: absolute; padding: 15px; background: #1146aa; top: 57px; right: 0; z-index: 999;}
#jhm-search form .search-field-wrapper { position: absolute;right: 28%;top: 0;width:100%;}	
#jhm-search form .search-options {display:none;z-index:300;position:absolute;top:2.05em;right:0;width:93%;padding:.5em 1% .3em 1em;background:#fff;border-top:0 none;-moz-box-shadow:0 3px 6px rgba(0,0,0,.2);-webkit-box-shadow:0 3px 6px rgba(0,0,0,.2);box-shadow:0 3px 6px rgba(0,0,0,.2);text-align:left;-moz-border-bottom-right-radius:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px;-moz-border-bottom-left-radius:4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px;top:3em;left:0;}
#jhm-search form .search-options label {display: block;margin: -20px 0 10px 30px;line-height: 1.5;color: #000;font-size: 1.2em;}


/* Inline footer links - language assistance */
ul.footerInline { list-style-type: none }
ul.footerInline li { display: inline-block; margin-right: .75em; margin-bottom: 1em; }
ul.footerInline li:after { content: "|"; margin-left: .75em; }
ul.footerInline li:last-child:after { content: none; }
ul.footerInline li:last-child { margin-right: 0; }
ul.footerInline li a { color: #b1c9f4; }
ul.footerInline li a:visited { color: #cbcbcb; }


/* Footer */

.footer-wrapper { background: #00276f; margin: 20px 0 0 0; float: left; width: 100%;padding: 0 0 20px 0;color: #fff;}
.footer-wrapper ul { list-style: none;}
.footer-wrapper ul li {margin: 0 0 1em 0; }
.social-footer-wrapper ul li {margin: 0 1em 1em 0; float:left;}
.social-footer-wrapper { float: left; width: 100%; padding: 10px 0 0 0; background: #0a43ad; color: #fff; margin: 0 0 20px 0;}
.social-footer-wrapper p { text-transform: uppercase; float: left; width: auto; margin: 0 3% 0 0; line-height: 1; font-family: "Gill Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:1.5em; line-height:normal;padding: 4px 0;}
.footer-widgets a:link {color:#b1c9f4;}
.footer-widgets a:visited {color:#cbcbcb;}
.footer-wrapper .title { font-family: "Gill Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 1.75em;}
.footer-wrapper .content { margin: 0 auto; max-width: 1004px;}

.social-footer-wrapper a {display:block;width:30px;height:30px;float:left;margin:0 2% 0 0;}
.social-footer-wrapper a.facebook {background:url(https://www.hopkinsmedicine.org/sebin/j/z/facebook_logo.png) no-repeat top left;background-size:30px;text-indent:90000px;overflow:hidden;}
.social-footer-wrapper a.twitter {background:url(https://www.hopkinsmedicine.org/sebin/h/s/twitter_logo.png) no-repeat top left;background-size:30px;text-indent:90000px;overflow:hidden;}
.social-footer-wrapper a.linkedin {background:url(https://www.hopkinsmedicine.org/sebin/h/g/linked_in_logo.png) no-repeat top left;background-size:30px;text-indent:90000px;overflow:hidden;}
.social-footer-wrapper a.googleplus {background:url(https://www.hopkinsmedicine.org/sebin/j/j/google_plus_logo.png) no-repeat top left;background-size:30px;text-indent:90000px;overflow:hidden;}
.social-footer-wrapper a.youtube {background:url(https://www.hopkinsmedicine.org/sebin/v/j/youtube_logo.png) no-repeat top left;background-size:30px;text-indent:90000px;overflow:hidden;}
.social-footer-wrapper ul li {line-height: 2em;}

/* Autocomplete */

.autocomplete {overflow-y: scroll;background: #fff;margin: 0 9px;padding: 0 19px 10px;font-size: 1.5em;font-family: 'Gill Sans', 'Gill Sans MT', 'Helvetica Neue', Helvetica, Arial, sans-serif;color: #4c689a;font-weight: 300;border-bottom-right-radius: 7px;border-bottom-left-radius: 7px;box-shadow: 5px 5px 7px rgba(0,0,0,.1)}
.autocomplete div {padding: 4px 0;cursor: pointer;}
.autocomplete div.selected {background: #eee;padding: 4px 6px;margin: 0 0 0 -6px;border-radius: 3px;width: 100%;}

.autocomplete-suggestions {overflow-y: scroll;background: #fff;margin: 0 9px;padding: 0 19px 10px;font-size: 1.5em;font-family: 'Gill Sans', 'Gill Sans MT', 'Helvetica Neue', Helvetica, Arial, sans-serif;color: #4c689a;font-weight: 300;border-bottom-right-radius: 7px;border-bottom-left-radius: 7px;box-shadow: 5px 5px 7px rgba(0,0,0,.1)}
.autocomplete-suggestions .autocomplete-suggestion {padding: 4px 0;cursor: pointer;}
.autocomplete-suggestions .autocomplete-suggestion:hover {background:#d7ecff;}
.autocomplete-suggestions .autocomplete-suggestions .autocomplete-selected {background: #eee;padding: 4px 6px;margin: 0 0 0 -6px;border-radius: 3px;width: 100%;}

@media screen and (max-width: 1004px) {
.thincrust-wrapper .content, .footer-wrapper .content { margin: 0 3%;}
.footer-wrapper .content, .jhm-thcrmenu .jhm-thcrsub-inner { margin:0; padding:0 3%;width:94%;}
.jhm-thcrmenu .jhm-thcrsub-inner {padding:20px 3%;}
.jhm-thcrmenu > ul > li > a { padding: 1em;}
.institution_title a {padding: 0 3%;}
.institution_title {float:left;}
#topNavNavMod .divnav1 ul li a {padding:0;}
}

@media screen and (max-width: 800px) {
.menu-wrapper.subsite {margin: 0; }
.menu-wrapper.subsite .jhm-thcrmenu > ul > li > a {font-size: 1em;}
.menu-wrapper.subsite .jhm-thcrmenu { width: auto;float: right;}
}

@media screen and (max-width: 760px) {
.large-logo {width: 250px;margin:10px 0 20px 0;}
#jhm-search {margin:10px 0;float:right;}

.utility-links ul {margin:0;}
.thincrust-wrapper.subsite { margin: 0 0 10px 0;}
.jhm-thcrmenu .jhm-thcrsub-inner .btn-link .chev { height: 2.9em;}
.jhm-thcrmenu .jhm-thcrsub-inner .btn-link .chev::after { margin-top: 55%;}
}

@media screen and (max-width: 720px) {
.container-search { width:38px;}
.searchbox{min-width:48px;height:48px;}
.searchbox-input {height:48px;}
.searchbox-icon, .searchbox-submit{ width:48px; height:48px; line-height:39px; cursor:pointer; color:#fff; background: url(https://www.hopkinsmedicine.org/sebin/j/p/search-icon-white.png) no-repeat 5px 5px #1146aa; background-size: 38px; text-indent: 9000000px; overflow: hidden;}
.utility-links {display:none;}
.thincrust-wrapper {padding: 10px 0;}
ul.global-navigation li {font-size: 1em;}
.jhm-thcrmenu > ul > li > a {font-size: 1em;}

.menu-wrapper.subsite {margin: 0;}
.small-logo {width: 25%;}
}

@media screen and (min-width: 641px) {
	.jhm-thcrmenu, #jhm-search {display:block !important;}
}

@media screen and (max-width: 640px) {
	.thincrust-wrapper {position:relative;}
.menu-wrapper.subsite {width: 100%;}
.menu-wrapper.subsite .jhm-thcrmenu { width: 100%;float: left;}

.social-footer-wrapper ul {width:100%;float:left;}
.social-footer-wrapper p { margin: 0 0 10px 0; }
.jhm-thcrmenu > ul > li > a {font-size: .85em; padding: 0 1em 1em 0;}
.jhm-thcrmenu > ul > li > a {font-size: 1em;padding: .5em;}
.jhm-thcrmenu .jhm-thcrsub-inner > div {border-bottom: 1px solid #03296d; width: 100%;float: none;padding: 2% 0; margin: 0;}
.jhm-thcrmenu .jhm-thcrsub-inner > div:last-child {border-bottom: none; }
.jhm-thcrmenu > ul, .jhm-thcrmenu .jhm-thcrsub-inner { width: 100%; margin: 0 auto; padding: 0;}

.menu-wrapper.subsite .jhm-thcrmenu > ul > li > a {padding: 8px .75em 8px 1em;}
	
.jhm-thcrmenu {font-size: 120%;border: none; display: none;}
.jhm-thcrmenu > ul, .jhm-thcrmenu .jhm-thcrsub-inner {width: 100%;padding: 0;}
.jhm-thcrmenu .jhm-thcrsub-inner {padding: 0 3%;font-size: 75%;width:94%;}
.jhm-thcrmenu > ul > li {display: block;border-bottom: 4px solid #1146aa;}
.jhm-thcrmenu > ul > li > a { display: block;padding: 1em 3%;}
.jhm-thcrmenu .jhm-thcrsub { position: relative;}
.jhm-thcrsub h4 {padding-top: 0.6em;}

.search2, .search3 {top: 15px;right: 15px; display: block; position: absolute; border: 1px solid #ccc;border-radius:3px; margin: 0 0 0 30px; width:38px; height:38px; cursor:pointer; color:#fff; background: url(https://www.hopkinsmedicine.org/sebin/j/p/search-icon-white.png) no-repeat 5px 5px; background-size: 30px;  overflow: hidden;text-indent:-9999px;}
.menu {top:15px;left:15px; display: block; position: absolute; border: 1px solid #ccc;border-radius:3px; margin: 0 30px 0 0; width:38px; height:38px; cursor:pointer; color:#fff; background: url(/sebin/v/n/menu-icon.png) no-repeat 6px 6px; background-size: 25px;  overflow: hidden;text-indent:-9999px;}
.search-box { width:100%; float: left;margin: 0 0 10px 0;height: 38px;}
.search-field-wrapper input[type="text"] { width: 75%;}
#jhm-search {float:left;width:100%;margin:10px 0;display: none;}
.large-logo, .small-logo {width: 175px;margin:10px auto; float:none;}
.search-positioning {width:100%; float: none; position: absolute; margin: 0; top: 0;right: 0;}
.subsite-search-wrapper {top:10px; width: 94%;float: left;position: inherit; padding: 3%;}

#jhm-search form .search-field-wrapper {right: 0;top: 0;width: 100%;}

.thincrust-wrapper.subsite {margin: 0 0 20px 0; padding: 0 0 10px 0}

#jhm-search form .search-options {left: 0;width: 75.8%;}
}